<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.buglak.fitflow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.me.UserInfoActivity"/>
        <activity android:name=".ui.training.day.RestDayActivity" />
        <activity android:name=".ui.training.trainingDay.ExactTrainingActivity" />
        <activity android:name=".ui.training.day.TrainingDayActivity" />
        <activity android:name=".ui.training.squats.SquatsInfoActivity" />
        <activity android:name=".ui.training.pushUps.PushUpsInfoActivity" />
        <activity android:name=".ui.training.pullUps.PullUpsInfoActivity" />
        <activity android:name=".ui.training.fullBody.FullBodyInfoActivity" />
        <activity android:name=".ui.training.situps.SitupsActivity" />
        <activity android:name=".ui.me.ReminderActivity" />
        <activity android:name=".ui.me.PrivacyActivity" />
        <activity android:name=".ui.me.DisclaimerActivity" />
        <activity android:name=".ui.training.situps.SitupsInfoActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.training.situps.SitupCollection" />
        <activity android:name=".ui.training.common.TrainingInfoActivity" />

        <receiver android:name=".ui.me.ReminderReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>